*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    flex-direction: column;
    line-height: 1;
} */

header{
    padding: 2%;
    background-color: silver;
    border: 5px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    padding: 15px;
    font-size: 300%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


nav ul {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}





